<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>	

    This NodeJS Express Application is made using:
    <br/> <br/>

    <ul>
        <li>NodeJS</li>
        <li>The Express framework</li>
    </ul>

    <ul>
        <li>HTML, CSS, JavaScript ES5 and ES6</li>
        <li>Bootstrap for the responsive design</li>
    </ul>

    <ul>
        <li>MySQL as the database</li>
        <li>Micosoft Azure App Service as cloud hosting using Windows and iisnode</li>
    </ul>

    <ul>
        <li>Visual Studio Code as Text Editor</li>
     </ul>


<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
